.wrapper{
    padding: 30px;
}
.wrapper h1{
    
    font-family: "McLaren", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;

}
.blogList{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}


.note {
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 10px;
    /* width: 240px; */
    /* margin: 16px; */
    float: left;
}
.note h1 {
    font-size: 1.3em;
    margin-bottom: 6px;
    font-weight: bold;
}
.note p {
    font-size: 1.1em;
    color: rgb(130, 130, 130);
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
}
  
.note button {
    position: relative;
    float: right;
    margin-right: 10px;
    color: #f5ba13;
    border: none;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
}